name: Release

on:
  push:
    tags:
    - 'v*'

jobs:
  build:
    name: publish-src
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo publish --no-verify --token ${{ secrets.CRATEIO_TOKEN }}
